/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Main Section
   e. Bottom Section
   f. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */
body {
	background: #0f0f0f;
	overscroll-behavior-y: none;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
	position: relative;
	height: 800px;
	min-height: 500px;
	width: 100%;
	background: #161415 url(../images/header-background.jpg) no-repeat top center;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	text-align: center;
	overflow: hidden;
}

/* vertically center banner section */
header:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
header .banner {
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	width: 85%;
	padding-bottom: 30px;
	text-align: center;
}

header .banner-text {
	width: 100%;
}
header .banner-text h1 {
	font: 90px/1.1em 'opensans-bold', sans-serif;
	color: #fff;
	letter-spacing: -2px;
	margin: 0 auto 18px auto;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.8);
}
header .banner-text h3 {
	font: 18px/1.9em 'librebaskerville-regular', serif;
	color: #a8a8a8;
	margin: 0 auto;
	width: 70%;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5);
}
header .banner-text h3 span,
header .banner-text h3 a {
	color: #fff;
}
header .banner-text hr {
	width: 60%;
	margin: 18px auto 24px auto;
	border-color: #2f2d2e;
	border-color: rgba(150, 150, 150, 0.1);
}

/* header social links */
header .social {
	margin: 24px 0;
	padding: 0;
	font-size: 30px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.8);
}
header .social li {
	display: inline-block;
	margin: 0 15px;
	padding: 0;
}
header .social li a {
	color: #fff;
}
header .social li a:hover {
	color: #11abb0;
}

/* scrolldown link */
header .scrolldown a {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -29px;
	color: #fff;
	display: block;
	height: 42px;
	width: 42px;
	font-size: 42px;
	line-height: 42px;
	color: #fff;
	border-radius: 100%;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
header .scrolldown a:hover {
	color: #11abb0;
}

/* primary navigation
--------------------------------------------------------------------- */
.nav-list,
.nav-list-item,
nav a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

/* nav */
nav {
	font: 12px 'opensans-bold', sans-serif;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	margin: 0 auto;
	z-index: 100;
	position: fixed;
	left: 0;
	top: 0;
}
.opaque {
	background-color: #333;
}

/* hide toggle button */
nav > a.mobile-btn {
	display: none;
}

.nav-list {
	min-height: 48px;
	width: auto;

	/* center align the menu */
	text-align: center;
}
.nav-list-item {
	position: relative;
	list-style: none;
	height: 48px;
	display: inline-block;
}

/* Links */
.nav-list-item a {
	/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

	display: inline-block;
	padding: 8px 13px;
	line-height: 32px;
	text-decoration: none;
	text-align: left;
	color: #fff;

	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	-webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.5);

	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

.nav-list-item a:active {
	background-color: transparent !important;
}
.nav-list-item.current a {
	color: #f06000;
}

/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

.about {
	background: #2b2b2b;
	padding-top: 96px;
	padding-bottom: 66px;
	overflow: hidden;
}

.about a,
.about a:visited {
	color: #fff;
}
.about a:hover,
.about a:focus {
	color: #11abb0;
}

.about h2 {
	font: 22px/30px 'opensans-bold', sans-serif;
	color: #fff;
	margin-bottom: 12px;
}
.about p {
	line-height: 30px;
	color: #e6e6e6;
}
.about .profile-pic {
	position: relative;
	width: 120px;
	height: 120px;
	border-radius: 100%;
}
.about .contact-details {
	width: 41.66667%;
}
.about .download {
	width: 58.33333%;
	padding-top: 6px;
}
.about .main-col {
	padding-right: 5%;
}
.about .download .button {
	margin-top: 6px;
	background: #444;
}
.about .download .button:hover {
	background: #fff;
	color: #2b2b2b;
}
.about .download .button i {
	margin-right: 15px;
	font-size: 20px;
}

/* ------------------------------------------------------------------ */
/* d. Main Section
/* ------------------------------------------------------------------ */

.main {
	background: #fff;
	padding-top: 90px;
	padding-bottom: 72px;
	overflow: hidden;
}

.main a,
.main a:visited {
	color: #11abb0;
}
.main a:hover,
.main a:focus {
	color: #313131;
}

.main h1 {
	font: 18px/24px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.main h1 span {
	border-bottom: 3px solid #11abb0;
	padding-bottom: 6px;
}
.main h3 {
	font: 25px/30px 'opensans-bold', sans-serif;
}

.main .header-col {
	padding-top: 9px;
}
.main .main-col {
	padding-right: 10%;
}

.education,
.work {
	margin-bottom: 48px;
	padding-bottom: 24px;
	border-bottom: 1px solid #e8e8e8;
}
.main .info {
	font: 16px/24px 'librebaskerville-italic', serif;
	color: #6e7881;
	margin-bottom: 18px;
	margin-top: 9px;
}
.main .info span {
	margin-right: 5px;
	margin-left: 5px;
}
.main .date {
	font: 15px/24px 'opensans-regular', sans-serif;
	margin-top: 6px;
}

/* ------------------------------------------------------------------ */
/* e. Gallery Section
/* ------------------------------------------------------------------ */

.bottom {
	background: #ebeeee;
	padding-top: 90px;
	padding-bottom: 60px;
}
.bottom h1 {
	font: 15px/24px 'opensans-semibold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 48px;
	color: #95a3a3;
}

/* Gallery Content */
.gallery-wrapper .columns {
	margin-bottom: 36px;
}
.gallery-item .item-wrap {
	background: #fff;
	overflow: hidden;
	position: relative;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.gallery-item .item-wrap a {
	display: block;
	cursor: pointer;
}

/* overlay */
.gallery-item .item-wrap .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	opacity: 0.75;
	-moz-opacity: 0.75;
	filter: alpha(opacity=0);

	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

	background: url(../images/overlay-bg.png) repeat;
}
.gallery-item .item-wrap .link-icon {
	display: block;
	color: #fff;
	height: 30px;
	width: 30px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;

	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

	position: absolute;
	bottom: 10%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
}
.gallery-item .item-wrap img {
	vertical-align: bottom;
}
.gallery-item .gallery-item-meta {
	padding: 18px;
}
.gallery-item .gallery-item-meta h5 {
	font: 14px/21px 'opensans-bold', sans-serif;
	color: #fff;
	text-shadow: 0px 1px 3px #000;
	-webkit-text-stroke: 0.5px #fff;
}
.gallery-item .gallery-item-meta p {
	font: 12px/18px 'opensans-light', sans-serif;
	color: #e6e6e6;
	text-shadow: 0px 0.5px 2px #060606;
	-webkit-text-stroke: 0.5px #e6e6e6;
	margin-bottom: 0;
}

/* ------------------------------------------------------------------ */
/* Projects Section
/* ------------------------------------------------------------------ */

/* Projects Content */
.projects-wrapper .columns {
	margin-bottom: 36px;
}
.projects-item .item-wrap {
	background: #fff;
	overflow: hidden;
	position: relative;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.projects-item .item-wrap a {
	display: block;
	cursor: pointer;
}

/* overlay */
.projects-item .item-wrap .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	opacity: 0.75;
	-moz-opacity: 0.75;
	filter: alpha(opacity=0);

	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

	background: url(../images/overlay-bg.png) repeat;
}
.projects-item .item-wrap .link-icon {
	display: block;
	color: #fff;
	height: 30px;
	width: 30px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;

	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

	position: absolute;
	bottom: 10%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
}
.projects-item .item-wrap img {
	vertical-align: bottom;
}
.projects-item .projects-item-meta {
	padding: 18px;
}
.projects-item .projects-item-meta h5 {
	font: 14px/21px 'opensans-bold', sans-serif;
	color: #fff;
	text-shadow: 0px 1px 3px #000;
	-webkit-text-stroke: 0.5px #fff;
}
.projects-item .projects-item-meta p {
	font: 12px/18px 'opensans-light', sans-serif;
	color: #e6e6e6;
	text-shadow: 0px 0.5px 2px #060606;
	-webkit-text-stroke: 0.5px #e6e6e6;
	margin-bottom: 0;
}

/* experience */
.experience-title {
	font-weight: bold;
	text-decoration: underline;
}

.experience-item {
	margin-bottom: 15px;
}

/* roles */
.roles {
	margin-bottom: 15px;
}

.role {
	margin-top: 5px;
	margin-bottom: 5px;
}

.role-title {
	font-weight: bold;
}

/* skills */
.skill {
	border-bottom: 1px solid #e8e8e8;
	padding-top: 2px;
}

.row .skill {
	border-bottom: none;
	padding-top: none;
}

.skill-item {
	font-style: italic;
}

.skills {
	margin-left: 2em;
}

.skills ul {
	list-style: disc outside;
}

/* on hover */
.gallery-item:hover .overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}
.gallery-item:hover .link-icon {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

/* on hover */
.projects-item:hover .overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}
.projects-item:hover .link-icon {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

/* popup modal */
.popup-modal {
	max-width: 550px;
	background: #fff;
	position: relative;
	margin: 0 auto;
}
.popup-modal .description-box {
	padding: 12px 36px 18px 36px;
}
.popup-modal .description-box h4 {
	font: 15px/24px 'opensans-bold', sans-serif;
	margin-bottom: 12px;
	color: #111;
}
.popup-modal .description-box p {
	font: 14px/24px 'opensans-regular', sans-serif;
	color: #a1a1a1;
	margin-bottom: 12px;
}
.popup-modal .description-box .categories {
	font: 11px/21px 'opensans-light', sans-serif;
	color: #a1a1a1;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: block;
	text-align: left;
}
.popup-modal .description-box .categories i {
	margin-right: 8px;
}
.popup-modal .link-box {
	padding: 18px 36px;
	background: #111;
	text-align: left;
}
.popup-modal .link-box a {
	color: #fff;
	font: 11px/21px 'opensans-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
}
.popup-modal a:hover {
	color: #00cccc;
}
.popup-modal a.popup-modal-dismiss {
	margin-left: 24px;
}

/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
	opacity: 1;
}
/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
	opacity: 0;
}

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus {
	outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.slides li {
	margin: 0;
	padding: 0;
}

/* Necessary Styles */
.flexslider {
	position: relative;
	zoom: 1;
	margin: 0;
	padding: 0;
}
.flexslider .slides {
	zoom: 1;
}
.flexslider .slides > li {
	position: relative;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container {
	zoom: 1;
	position: relative;
}

/* Clearfix for .slides */
.slides:before,
.slides:after {
	content: ' ';
	display: table;
}
.slides:after {
	clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}

/* Slider Styles */
.slides {
	zoom: 1;
}
.slides > li {
	/*margin-right: 5px; */
	overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -20px;
	text-align: left;
}
.flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.flex-control-paging li a {
	width: 12px;
	height: 12px;
	display: block;
	background: #ddd;
	background: rgba(255, 255, 255, 0.3);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
}
.flex-control-paging li a:hover {
	background: #ccc;
	background: rgba(255, 255, 255, 0.7);
}
.flex-control-paging li a.flex-active {
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	cursor: default;
}

/* ------------------------------------------------------------------ */
/* f. Footer
/* ------------------------------------------------------------------ */

footer {
	padding-top: 48px;
	margin-bottom: 48px;
	color: #e6e6e6;
	font-size: 14px;
	text-align: center;
	position: relative;
}

footer a,
footer a:visited {
	color: #adacac;
}
footer a:hover,
footer a:focus {
	color: #ffffff;
}

/* copyright */
footer .copyright {
	margin: 0;
	padding: 0;
	color: #e6e6e6;
}
footer .copyright li {
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 24px;
}
.ie footer .copyright li {
	display: inline;
}
footer .copyright li:before {
	content: '\2022';
	padding-left: 10px;
	padding-right: 10px;
	color: #095153;
}
footer .copyright li:first-child:before {
	display: none;
}

/* social links */
footer .social-links {
	margin: 18px 0 30px 0;
	padding: 0;
	font-size: 30px;
}
footer .social-links li {
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-left: 42px;
	color: #e6e6e6;
}

footer .social-links li:first-child {
	margin-left: 0;
}

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
	left: 50%;
	margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	color: #fff;
	font-size: 21px;
	line-height: 60px;
	border-radius: 100%;
}
#go-top a:hover {
	background-color: #0f9095;
}
